# Database
DATABASE_URL="file:./dev.db"

# For production with PostgreSQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/lignerouge?schema=public"

# Auth (future)
# AUTH_SECRET="generate-with-openssl-rand-base64-32"
# AUTH_URL="http://localhost:3000"

# Cloudinary (future)
# CLOUDINARY_CLOUD_NAME=""
# CLOUDINARY_API_KEY=""
# CLOUDINARY_API_SECRET=""

# Sentry (future)
# SENTRY_DSN=""

# PostHog (future)
# NEXT_PUBLIC_POSTHOG_KEY=""
# NEXT_PUBLIC_POSTHOG_HOST=""
